extends layout
block content
    h3.field.regheader #{title}
    form.regform(method='post')
        p.mess #{message}
        div.item
            label.label(for='certId') 证书编号
            input(type='text',placeholder='证书编号（唯一）',id='certId',name='certId')
        div.item
            label.label(for='certName') 证书名称
            input(type='text',placeholder='证书名称',id='certName',name='certName')
        div.item
            label.label(for='description') 描述
            input(type='text',placeholder='证书描述',id='description',name='description')
        div.item
            label.label(for='reason') 发证理由
            input(type='text',placeholder='发证理由（可选）',id='reason',name='reason')
        div.item
            label.label(for='owner') 获证人
            input(type='text',placeholder='获证人id',id='owner',name='owner')
        div.item
            label.label
            input(type='submit' id='sub',name='sub' value='提交')